{% extends 'app/base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block img-slider %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tfGwKFd9nRoZfCaVuc_p-QHaD5%26pid%3DApi&f=1&ipt=2bcdee23c69c4ae908732fe826405b9eb122c07d138fc04d86690d13fe3611fa&ipo=images"
                class="d-block w-100" style="height: 400px" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tfGwKFd9nRoZfCaVuc_p-QHaD5%26pid%3DApi&f=1&ipt=2bcdee23c69c4ae908732fe826405b9eb122c07d138fc04d86690d13fe3611fa&ipo=images"
                class="d-block w-100" alt="..." style="height: 400px" />
        </div>
        <div class="carousel-item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tfGwKFd9nRoZfCaVuc_p-QHaD5%26pid%3DApi&f=1&ipt=2bcdee23c69c4ae908732fe826405b9eb122c07d138fc04d86690d13fe3611fa&ipo=images"
                class="d-block w-100" alt="..." style="height: 400px" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock img-slider %}

{% block information %}<div class='container'>
    <div class='row bg-primary text-center p-5 text-white border-bottom shadow'>
        <h1>Product</h1>
        <small>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet corporis, placeat deleniti dolorem, rerum
            hic maiores enim necessitatibus nisi dicta minima eius possimus esse quas inventore vitae odit eaque quidem?
        </small>

    </div>

</div>
{% endblock information %}


{% block main-containt %}

<div class="row container">
    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"
        style="animation-duration: 1s; animation-delay:0.6s; animation-name: none;">
        <div class="goodness dress smbg">
            <a href="#" class=" text-center" >
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tfGwKFd9nRoZfCaVuc_p-QHaD5%26pid%3DApi&f=1&ipt=2bcdee23c69c4ae908732fe826405b9eb122c07d138fc04d86690d13fe3611fa&ipo=images"
                    class="img-responsive " style="width: 80%;   display: flex;
                    align-items: center;
                    justify-content: center;">
                <p class="dress">Dress</p>

            </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"
    style="animation-duration: 1s; animation-delay:0.6s; animation-name: none;">
    <div class="goodness dress smbg">
        <a href="#" class=" text-center" >
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tfGwKFd9nRoZfCaVuc_p-QHaD5%26pid%3DApi&f=1&ipt=2bcdee23c69c4ae908732fe826405b9eb122c07d138fc04d86690d13fe3611fa&ipo=images"
                class="img-responsive " style="width: 80%;   display: flex;
                align-items: center;
                justify-content: center;">
            <p class="dress">Dress</p>

        </a>
    </div>
</div>
<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"
style="animation-duration: 1s; animation-delay:0.6s; animation-name: none;">
<div class="goodness dress smbg">
    <a href="#" class=" text-center"  >
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tfGwKFd9nRoZfCaVuc_p-QHaD5%26pid%3DApi&f=1&ipt=2bcdee23c69c4ae908732fe826405b9eb122c07d138fc04d86690d13fe3611fa&ipo=images"
            class="img-responsive " style="width: 80%;   display: flex;
            align-items: center;
            justify-content: center;">
        <p class="dress">Dress</p>

    </a>
</div>
</div>
<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"
style="animation-duration: 1s; animation-delay:0.6s; animation-name: none;">
<div class="goodness dress smbg">
    <a href="#" class=" text-center" >
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.tfGwKFd9nRoZfCaVuc_p-QHaD5%26pid%3DApi&f=1&ipt=2bcdee23c69c4ae908732fe826405b9eb122c07d138fc04d86690d13fe3611fa&ipo=images"
            class="img-responsive " style="width: 80%;   display: flex;
            align-items: center;
            justify-content: center;">
        <p class="dress">Dress</p>

    </a>
</div>
</div>
</div>
{% endblock main-containt %}